img.logo-abbr {
    width: 80%;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.row {
    margin: 0;
    display: flex;
}

.container-fld {
    width: 700px;
    margin: 0 auto;
}

/* .cont {
            width: 1000px;
            margin: 0 auto;
        } */

/* .pnl {
            margin-bottom: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 10px 10px 0 0;
        } */

.pnl-body {
    padding: 10px;
}

.pnl-header {
    text-align: center;
    padding: 8px 20px;
    /* background: linear-gradient(337deg, rgba(2, 0, 36, 1) 0%, rgba(14, 9, 121, 1) 43%, rgba(0, 212, 255, 1) 100%); */
    /* background: linear-gradient(357deg, rgba(73, 168, 203, 1) 0%, rgba(77, 181, 219, 1) 99%); */
    color: #fff;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.pnl-heading {
    padding: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: inset rgb(255 255 255 / 43%) 0px 6px 33px 11px;
}

.menu-name {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.pnl-btn {
    font-size: inherit;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s;
    background: linear-gradient(357deg, rgb(1 71 96) 0%, rgb(85 168 199) 99%);
    color: #fff;
    border: 2px solid;
    padding: 7px 20px;
    border-radius: 19px;
}

.pnl-btn-hov2:hover {
    color: rgb(46 71 163);
    background: #fff;
}

.pnl-btn-hov1:hover {
    transform: rotate(5deg) translate(-3px, 2px) scale(1, 1.1) skew(-4deg, -4deg);
    text-shadow: -7px 5px 0px rgb(255 255 255 / 30%);
}

.sub-menu {
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #dbdada;
}

.icon-stl:hover {
    top: -3px !important;
    position: relative;
}

a.pnl-btn {
    text-decoration: none;
}

.icon-stl {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    transition: .9s;
}

/* .input_div {
    box-shadow: inset rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: inset rgb(255 255 255 / 43%) 0px 6px 33px 11px;
    border: none;
    padding: 0px 0px 0px 10px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
} */

.input_div {
    /* box-shadow: inset rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgb(255 255 255 / 43%) 0px 6px 33px 11px;
    border: none;
    padding: 0px 0px 0px 10px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 70%;
    margin: 0 auto;
}

.input-field {
    border: none;
    background: none;
    width: 100%;
    color: #fff;
    font-size: 15px;
}

.input-field:focus-visible {
    outline: none;
}

.add-menu-btn {
    padding: 6px 20px;
    border-radius: 30px;
    font-size: 12px;
}

.side-bar {
    background: linear-gradient(357deg, rgba(73, 168, 203, 1) 0%, rgba(77, 181, 219, 1) 99%);
}

.drop-icon {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.overflow-y {
    overflow-y: scroll;
    height: 300px;
}

.overflow-y::-webkit-scrollbar {
    display: none;
}

.action_icon_list {
    padding: 0;
    text-align: center;
    margin: 0;
}

.action_icons {
    list-style-type: none;
}

.list-items {
    display: none;
    color: #000;
    list-style-type: none;
}

.icon-stl:hover .list-items {
    display: block;
    visibility: visible;
    opacity: 1;
}

.list-items {
    padding: 0;
}

.dropdown li {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.list-name {
    padding: 15px 5px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;
    line-height: 14px;
    text-transform: uppercase;
}

.input-trash {
    /* background: linear-gradient(357deg, rgb(1 71 96) 0%, rgb(85 168 199) 99%); */
    border-radius: 78px;
    font-size: 10px;
    width: 30px;
    display: flex;
    justify-content: center;
    background: #0d99ff;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.p-2 {
    padding: 2rem;
}

.text-align-right {
    text-align: right;
}

ul.drop-listt li {
    display: inline;
}


.my-drop {
    list-style-type: none;
    display: flex;
    padding: 0px;
    float: right;
    margin: 0px;
}

ul.my-drop li {
    padding: 2px;
}


/* .dropdown {
            background: orange;
            visibility: hidden;
            opacity: 0;
            min-width: 5rem;
            position: absolute;
            transition: all 0.5s ease;
            margin-top: 1rem;
            left: 0;
            display: none;
        } */

.dropdown {
    background: orange;
    visibility: hidden;
    opacity: 0;
    min-width: 4rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 5px;
    display: none;
    background: linear-gradient(357deg, rgb(1 71 96) 0%, rgb(85 168 199) 99%);
    color: #fff !important;
    list-style-type: none;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    margin-top: 1px;
    z-index: 999;
}

.drop-li:hover .dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul.dropdown li {
    padding: 5px 10px;
}

ul.dropdown li a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
}

.align {
    align-self: center;
}

.float-left {
    float: left;
    cursor: pointer;
}

.vert-logo {
    width: 150px;
}

.profile_dp {
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: #f7f7f7;
    border-radius: 50%;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    position: relative;
    background-position: -36px;
}

.icon-camera:before {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    bottom: 0px;
    color: white;
    right: 0px;
    left: 0px;
    z-index: 3;
    font-size: 25px;
    margin: auto;
    opacity: 0;
}

.icon-camera:after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0px;
    z-index: 2;
    left: 0px;
    background: black;
    border-radius: 50%;
    opacity: 0;
}

.icon-camera:before {
    content: "\f040";
}

.icon-camera:hover:before,
.icon-loading:before,
.icon-camera:hover:after,
.icon-loading:after {
    opacity: 0.7 !important;
}

.icon-camera:hover:before,
.icon-loading:before,
.icon-camera:hover:after,
.icon-loading:after {
    opacity: 0.7 !important;
}

.user-img {
    width: 60px;
}

.pnl-main-body {
    background-image: url("bg-img4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(8px);
            -webkit-filter: blur(8px); */
}

.tainer-welcome-msg {
    /* width: 50%; */
    margin: 0 auto;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    background: #fdfdfd52;
}

.wlcm-txt {
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    margin: 0;
}

::placeholder {
    color: #000;
    opacity: 1;
    /* Firefox */
}

.pnl-title {
    text-transform: uppercase;
}

.sub-div {
    width: 97%;
    margin: 0 auto;
}

.inner-dropdown {
    visibility: hidden;
    opacity: 0;
    min-width: 14rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 46px;
    display: none;
    background: linear-gradient(357deg, rgb(1 71 96) 0%, rgb(85 168 199) 99%);
    color: #fff !important;
    list-style-type: none;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    margin-top: 1px;
    z-index: 999;
    top: 0;
}

.inner-drop-li:hover .inner-dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding: 0;
}

.search {
    text-align: right;
}

input.searchTerm {
    background: transparent;
    border: none;
    box-shadow: inset rgb(255 255 255 / 43%) 0px 6px 33px 11px;
    padding: 6px;
    /* border-radius: 50px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: #000;
}

.searchButton {
    font-weight: 600;
    transition: all 0.3s;
    /* background: linear-gradient(357deg, rgb(1 71 96) 0%, rgb(85 168 199) 99%); */
    color: #5c5c5c;
    border: 2px solid;
    padding: 4px 12px;
    position: absolute;
    right: 7px;
    top: 87px;
    border-radius: 50px;
    background: transparent;
    border: none;
}

select.searchTerm {
    padding: 6px;
    background: transparent;
    border: none;
    box-shadow: inset rgb(255 255 255 / 43%) 0px 6px 33px 11px;
    color: #fff;
    /* border-radius: 50px; */
}

.pt-0 {
    padding-top: 0px;
}

.pt-1 {
    padding-top: 1rem;
}





/***************************************/
.new_action_div {
    position: relative !important;
    top: -14px !important;
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3px;
}

.pnl-lbl {
    position: relative;
    top: 22px;
    color: #000;
    text-transform: capitalize;
}

.new_card {
    margin-bottom: 6rem;
}

#accordion .actions_div>a {
    margin-right: 0px !important;
}
#accordion .panel-title>a.accordion-toggle::before, #accordion a[data-toggle="collapse"]::before{
    display: none;
}
.add-menu {
    background: #0d99ff;
    border: #0d99ff;
}
.add-menu:hover {
    background: #0d99ff;
}
.panel-heading {
    margin-bottom: -25px;
}
.cont-submenu {
    margin-top: 20px;
}
.float-right {
    float: right;
    padding-bottom: 3px;
}
#accordion.panel-group .panel {
    margin-top: -12px !important;
}
.ml-1 {
    margin-left: 1rem;
}
#newText {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    padding: 6px 6px 6px 13px;
    border-radius: 50px;
}
.add-ans {
    padding: 4px 7px;
    border: none;
    background: #0d99ff;
    color: #fff;
    border-radius: 50px;
    position: relative;
    left: -41px;
    top: 0px;
}
.table-responsive {
    overflow-x: none !important;
}