<!doctype html>
<html lang="en">
    {%include 'new_folder/base.html'%}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link href="documentation/img/vert-favicon.png" rel="icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/libs/css/style.css">
    <link rel="stylesheet" href="assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Vert-Age</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">ChatBot Trainer </h2>
                                <div class="page-breadcrumb">

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="mb-0">Welcome to Vert-Age Chatbot Trainer</h4>
                                </div>
                                <div class="card-body">
                                    <form class="needs-validation" novalidate="">
                                        <div class="row">

                                            <div class="col-md-12">
                                                <!-- Horizontal Form -->
                                                <div class="panel panel-success">
                                                    <form class="form-horizontal">
                                                        <div class="panel-body">

                                                            <div class="row">

                                                                <div class="col-md-3 ">
                                                                    <button
                                                                        class="btn btn-primary btn-lg btn-block add-menu"
                                                                        id="addButton" value=""><span
                                                                            class="glyphicon glyphicon-plus"></span> Add
                                                                        Menu</button>
                                                                </div>
                                                                <div class="col-md-6 ">

                                                                </div>
                                                                <div class="col-md-3 " style="align-self: center;">
                                                                    <div class="wrap">
                                                                        <div class="search">
                                                                            <input type="text" class="form-control"
                                                                                placeholder="Search...">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="panel-group" id="accordion" role="tablist"
                                                                aria-multiselectable="true">
                                                            </div>

                                                            <div class="panel-group" id="inpu-fld" role="tablist"
                                                                aria-multiselectable="true">
                                                            </div>

                                                        </div>
                                                        <!-- /.panel-body -->
                                                        <div class="panel-footer">
                                                            <div class="col-sm-offset-3 col-sm-6 text-center">

                                                            </div>

                                                        </div>

                                                        <!-- /.box-footer -->
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                Copyright <a href="#">Xenottabyte Services Pvt. Ltd.</a> All Rights Reserved.
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="javascript: void(0);">About</a>
                                    <a href="javascript: void(0);">Support</a>
                                    <a href="javascript: void(0);">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end wrapper  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="assets/libs/js/dashboard-ecommerce.js"></script>

    <script>
        function addText() {
            const inputField = document.querySelector('input[type="text"]')

            var container = document.getElementById("container");
            const inputs = document.getElementsByClassName(inputField.classList);
            for (let i = 0; i < inputs.length; i++) {

                alert(inputs[i].value);
                text = inputs[i].value;
                var paragraph = document.createElement("p");
                paragraph.textContent = text;
                container.appendChild(paragraph);
                input[i].value = "";
            }
        }
        $(document).ready(function () {
            var counter = 1;
            var wrapper = $("#accordion");


            $("#addButton").on("click", function (e) {
                e.preventDefault();
                var catgName = prompt("Please Add your Menu");
                // var catgName = <button>submit</button>;
                if (catgName == '') {
                    catgName = 'Catg#' + counter;
                }
                if (catgName != null) {
                    var ariaExpanded = false;
                    var expandedClass = '';
                    var collapsedClass = 'collapsed';
                    if (counter == 1) {
                        ariaExpanded = true;
                        expandedClass = 'in';
                        collapsedClass = '';
                    }
                    $(wrapper).append('<div class="col-sm-12 overglow-menu" style="margin-bottom: 0;"><div class="panel panel-default" id="panel' + counter + '">' +
                        '<div class="panel-heading" role="tab" id="heading' + counter + '"><h4 class="panel-title">' +
                        '<a class="pnl-lbl" ' + collapsedClass + '" id="panel-lebel' + counter + '" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse' + counter + '" ' +
                        'aria-expanded="' + ariaExpanded + '" aria-controls="collapse' + counter + '"> ' + catgName + ' </a><div class="actions_div new_action_div" style="position: relative; top: -26px;">' +
                        '<a href="#" accesskey="' + counter + '" class="pull-right" id="addButton2"> <span class="glyphicon glyphicon-plus"><i class="fa fa-plus icon-stl input-trash"  aria-hidden="true"></i></span> </a>' +
                        '<a href="#" accesskey="' + counter + '" class="edit_ctg_label pull-right"><span class="glyphicon glyphicon-edit "><i class="fa fa-text-width icon-stl input-trash" aria-hidden="true"></i></a></li></span> </a>' +
                        '<a href="#" accesskey="' + counter + '" class="remove_ctg_panel exit-btn pull-right"><span class="glyphicon glyphicon-remove"><i class="fa fa-trash icon-stl input-trash"aria-hidden="true"></i></span></a></div></h4></div>' +
                        '<div id="collapse' + counter + '" class="panel-collapse collapse ' + expandedClass + '"role="tabpanel" aria-labelledby="heading' + counter + '">' +
                        '<div class="panel-body"><div id="TextBoxDiv' + counter + '"></div><a class="btn btn-xs btn-primary" accesskey="' + counter + '" id="addButton3" ><span class="glyphicon glyphicon-plus"></span>Add Answer</a>' +
                        '<a class="btn btn-xs btn-success" accesskey="' + counter + '" id="ajax_submit_button" >Done</a></div></div></div></div>');
                    counter++;
                }

            });

            var x = 1;
            $(wrapper).on("click", "#addButton2", function (e) {
                e.preventDefault();
                var parentId = $(this).attr('accesskey');
                var parentPanel = '#panel' + parentId;
                var catgName = prompt("Please Add your subMenu");
                if (catgName == '') {
                    catgName = ' P#' + parentId + ' Catg#' + counter;
                    alert(catgName)
                }
                if (catgName != null) {
                    var ariaExpanded = false;
                    var expandedClass = '';
                    var collapsedClass = 'collapsed';

                    $(wrapper).find(parentPanel).append('<div class="col-sm-12 float-right " style="margin-bottom: 0;"><div class="panel panel-default ml-1" id="panel' + counter + '">' +
                        '<div class="panel-heading" role="tab" id="heading' + counter + '"><h4 class="panel-title">' +
                        '<a class="pnl-lbl" ' + collapsedClass + '" id="panel-lebel' + counter + '" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse' + counter + '" ' +
                        'aria-expanded="' + ariaExpanded + '" aria-controls="collapse' + counter + '"> ' + catgName + ' </a><div class="actions_div new_action_div" style="position: relative; top: -26px;">' +
                        '<a href="#" accesskey="' + counter + '" class="pull-right" id="addButton2"> <span class="glyphicon glyphicon-plus"><i class="fa fa-plus icon-stl input-trash" aria-hidden="true"></i></span> </a>' +
                        '<a href="#" accesskey="' + counter + '" class="edit_ctg_label pull-right"><span class="glyphicon glyphicon-edit "><i class="fa fa-text-width icon-stl input-trash" aria-hidden="true"></i></span> </a>' +
                        '<a href="#" accesskey="' + counter + '" class="remove_ctg_panel exit-btn pull-right"><span class="glyphicon glyphicon-remove"><i class="fa fa-trash icon-stl input-trash "  aria-hidden="true"></i></span></a></div></h4></div>' +
                        '<div id="container" class="cont-submenu"><input type="text" id="newText" placeholder="Enter text here" class = "inputdev' + counter + '"><button class="add-ans" onclick="addText()">Add</button></div>');
                    x++;
                    counter++;
                }

            });

            $(wrapper).on("click", ".remove_ctg_panel", function (e) {
                e.preventDefault();
                var accesskey = $(this).attr('accesskey');
                $('#panel' + accesskey).remove();
                counter--;
                x--;
            });

            var y = 1;
            $(wrapper).on("click", "#addButton3", function (e) {
                e.preventDefault();
                var accesskey = $(this).attr('accesskey');
                y++;
                $('#panel' + accesskey).find('#TextBoxDiv' + accesskey).append('<div class="col-md-12 form-group"><input type="text" name="ctgtext[]" class="form-control" style="width: 40%;float: left;"/><a href="#" class="remove_field exit-btn"><span class="glyphicon glyphicon-remove"></a></div>');

            });

            $(wrapper).on("click", ".remove_field", function (e) {
                e.preventDefault();
                $(this).parent('div').remove(); y--;
            })

            $(wrapper).on("click", ".edit_ctg_label", function (e) {
                var panelId = $(this).attr('accesskey');
                var catgName = prompt("Please Change your category name");
                if (catgName == '') {
                    return false;
                }
                if (catgName != null) {
                    $('#panel' + panelId).find("#panel-lebel" + panelId).html('').html(catgName);
                }
            });

        });


        $(function () {
            $("#button-1").on("click", function (e) {
                e.preventDefault();

                const nameStudent = $("#name").val();

                if ((nameStudent === '')) {
                    alert("Please fill all the fields");
                }
                else {
                    var appendText = " <b>&nbsp;" + nameStudent + "&nbsp;</b> </p>";
                    $("#output-details").append(appendText);
                    $("#name").val("");
                }
            })
        });
    </script>


</body>

</html>