<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<form method="post" action="">
    {% csrf_token %}
    <label for="{{ form.name.id_for_label }}">Name:</label>
    {{ form.name }}
    <label for="{{ form.parent.id_for_label }}">Answer:</label>
    {{ form.answer }}
    <label for="{{ form.parent.id_for_label }}">Parent:</label>
    {{ form.parent }}

    <input type="submit" value="Submit">
</form>
{% if data %}

          <div class="row my-2 mx-1 justify-content-center">
            <table class="table table-striped table-borderless">
              <thead style="background-color:#84B0CA ;" class="text-white">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Answer</th>
                  <th scope="col">parent</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for item in data %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.answer }}</td>
                <td>{{ item.parent }}</td>
                <td><a href="{% url 'trained:edit_menu' item.id %}">Edit</a></td>
                <td><a href="{% url 'trained:delete_menu' item.id %}">Delete</a></td>
            </tr>
        {% endfor %}
                
                
              </tbody>
  
            </table>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
{% endif %}